
    @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic&subset=latin,cyrillic);
    @import "http://webfonts.ru/import/bebasneue.css";
    @import "http://webfonts.ru/import/noto.css";
    @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
    @import url(http://vesna56.ru/fonts/hagincaps/font.css);
    @import "http://webfonts.ru/import/airport.css";
    @import "http://webfonts.ru/import/attentica.css";
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300&subset=latin,cyrillic);
    @font-header: 'Hagin Caps Medium';
    @font-subheader: 'Open Sans Condensed';
    @text-font: 'Noto Sans';
    @desc-font: 'Open Sans Condensed';
    @highlight-bg: #ffe156;
    @highlight-shadow: #d6b342;

    @green: #98a635;
    @green-shadow: #809012;

    @blue: #5680a3;
    @blue-shadow: #406583;

    @red: #b73b29;
    @red-shadow: #ab5d2a;

    @red-dark: #8f2f1f;
    @brown: #422b23;
    @yellow: #f4a21c;
    @yellow-shadow: #d0b14d;

    #slider-prev, #slider-next { z-index: 66666 }
    @gray: #d4c493;
    @gray-shadow: #b7a56f;

    #slider-wrapper {
        width: 100%;
        padding-left: 350px;
    }

    #box-content {
        width:100%;
        padding-bottom: 100px;
        padding-right: 40px;
    }

    #box-container {
        padding-top: 40px;
        width: 100%;
        padding-left: 420px;
        padding-bottom: 100px;
    }
    a { transition: 0.5s ease-in-out all; }

    #left-panel {
        position: fixed;
        z-index: 667;
        top: 0;
        left: 0;
        padding-top: 0px;
        width: 350px;
        height: 100%;
        color: #fff;
        background: mix(@brown, #666, 70%);
        box-shadow: inset -10% 0 20% rgba(0,0,0,0.3);
        text-align: right;
        .logo {
            width: 282px;
            height: 242px;
            margin: 20px auto;
            background: url(../image/logo.png) center center no-repeat;
            margin-bottom: 20px;
        }
        a {
            width: 100%;
            display: block;
            padding: 8px 25px;
            font-family: 'Bebas Neue';
            font-size: 25px;
            color: mix(@gray, #fff, 70%);

            &.parent {
                background: mix(@red-dark, #666, 50%);
                margin-bottom: 5px; margin-top: 10px;
            }
            &.child {
               font-size:20px;
               padding: 8px 30px;
               color: mix(@gray, #fff, 90%);
            }

            &:hover {
                text-decoration: none;
                background: mix(@brown, #fff, 80%);
            }
        }
        }
    body {
        padding-left: 400px;
        background: #e2d9cd !important;
    }
    .no-padding { padding: 0}
    .heading { font-family: "Bebas Neue"; font-size: 60px; color:fade(@brown, 80%); }
    .box-items { width: 1100px; position: relative; margin: 30px auto;

        .body { overflow: hidden; position: relative; zoom: 1; }
    }

    .category-title {
        font-family: "Bebas Neue";
        font-size: 60px;
        color: @brown;
    }

    .box-breadcrumb {
        background: transparent;
        a {
            color: @red;
            font-size: 18px;

            }
    }
    .box-item {
        margin-left: -0.85%;
        zoom: 1; overflow: hidden;
        background: transparent;
        margin-top: 2em;
        //  div:nth-child(3n) { margin-right: 0 }
        .boxy {
            background: transparent;
            position: relative;
            width: 330px;
            float: left;
            padding-top: 30px;
            display: block;
            margin-left: 0.85%;
            margin-right: 0.85%;
            text-align: center;
            .name, .price { opacity: 0.7; }

            .name {
                margin-top: 10px;
                font-family: "Attentica";
                color: @brown;
                font-size: 34px;
            }

            .price {
                display:inline-block;
                position: absolute;
                width: 260px;
                top: 15px;
                left: 30px;
                opacity: 1;
                font-family: 'Open Sans';
                font-weight: 400;
                padding: 12px;
                color: mix(#fff, #d9c3a8, 60%);
                text-shadow: 0px 2px 4px rgba(0,0,0,0.4);
                font-size: 56px;
                span {
                    font-family: 'PT Sans';
                    font-weight: 300;
                    font-size: 45px;
                    padding-left: 10px;
                }
            }

            .img-thumb {
                position: relative;
                overflow:hidden;
                width: 320px;
                height: 210px;
                border-radius: 15px;
                background-position: 0px -2px;
                box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
                overflow: hidden; text-align:center;
             //   background: mix(@brown, #fff, 40%);
            }

            .cart {
                position: absolute;
                height: 100%;
                width: 100%;
                overflow: hidden;
                border-radius: 15px;
                   a {
                    display: block;
                    position: absolute;
                    right: 30px;
                    bottom: 30px;
                    padding: 12px;
                    width: 60px;
                    i {
                        font-size:29px;
                    }
                    background: #d9c3a8;
                    border-bottom: 3px solid mix(#d9c3a8, @brown, 70%);
                    border-radius: 8px;
                    color:@brown;
                    &:hover {
                        background: mix(#d9c3a8, #fff, 80%);
                        color: @brown;
                        border-bottom-color: mix(#d9c3a8, #666, 90%);
                        box-shadow: 0 2px 12px rgba(0,0,0,0.4);
                    }
                }
                position: absolute;
                top: 0px; left: 0;
                height: 100%;
                width: 100%;
                opacity:0;
                background: fade(@brown, 50%);
                padding: 45px 60px;
                .btn-cart {
                    font-size: 20px;
                    font-size:26px;
                    background: @yellow;
                    border-bottom: 3px solid mix(@yellow, #000, 85%);
                    font-family: 'Bebas Neue';
                    text-transform: uppercase;
                    padding: 8px 0px 8px 0px;
                    display: block;
                    color: @brown;
                    cursor: pointer;
                    i { margin-right: 20px;}
                    width: 180px;
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    border-radius: 8px;
                    transition: 0.8s ease-in-out all;
                    &:hover {
                        background: mix(@yellow, #fff, 80%);
                        color: @brown;
                        border-bottom-color: mix(@yellow, #d3d3d3, 90%);
                        box-shadow: 0 2px 12px rgba(0,0,0,0.4);
                    }
                }
            }

        }
    }
    .top-nav {
        background: rgba(40,27,27,0.8);
        height: 115px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .slider-default {
        .sl-slider-wrapper {
            width: 100%;
            height: 800px;
            overflow: hidden;
            position: relative;
        }
        .sl-slider {
            h2 {
                font-size: 100px;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
            }
        }
    }
    .slider-default .sl-slider h2,.slider-default .sl-slider blockquote {
        padding: 10px 30px 10px 30px;
        width: 80%;
        max-width: 500px;
        border-radius: 8px;
        margin-top: 260px;
        float: right;
        margin-right: 20%;
        position: relative;
        z-index: 100;
    }

    .slider-default {
        .sl-slider {
            blockquote {
                h3 {
                    font-family: @font-header;
                    font-size: 20pt;
                    margin-top:0;
                }
                font-family: @font-subheader;
                padding-top: 15px;
                border-radius: 8px;
                padding-bottom: 25px;
                background: #dcc6ab;
                border-bottom: 8px solid #a48a6b;
                border-left: 0;
                box-shadow: 0 2px 18px rgba(0,0,0,0.6);
                p {
                font-style:italic;
                font-size: 22px;
                color: #422c25;
                }
            }
        }
    }

    body {
        padding: 0px;
    }
    .slider-container {
        width: 100%;
        height: 600px;
        position: relative;

    }
    #footer, #powered { display: none }
        /* menu */
    #menu {
        opacity: 0.6;
        background: mix(@brown, #ccc, 80%);
        height: 53px;
        z-index:666;
        position: fixed;
        width: 100%;
        top:0; left: 0;
        margin-bottom: 15px;
        padding: 0px 5px;
        transition: 0.6s ease-in-out all;
    }
    #menu:hover {
        opacity: 1;
    }
    #menu ul {
        overflow:hidden;
        zoom:1;
        height:53px;
        min-width:960px;
        margin: 0 auto;
        list-style: none;

        padding: 0;
    }
    #menu > ul > li {
        position: relative;
        float: right;
        z-index: 20;
        padding: 6px 5px 5px 0px;
    }
    #menu > ul > li:hover {
    }
    #menu > ul > li > a {
        transition: 0.6s ease-in-out all;
        font-size: 13px;
        color: #FFF;
        font-size: 22px;
        font-family: 'Open Sans Condensed';
        text-transform: uppercase;
        line-height: 14px;
        text-decoration: none;
        display: block;
        padding: 12px 18px 12px 18px;
        margin-bottom: 5px;
        z-index: 6;
        position: relative;
    }
    #menu > ul > li:hover > a {
        background: mix(@red-dark, @gray, 70%);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
    }
    #menu > ul > li > div {
        display: none;
        background: mix(@brown, @gray, 70%);
        position: absolute;
        z-index: 5;
        font-size: 20px;
        padding: 5px;
        min-width:270px;
        -webkit-border-radius: 0px 0px 5px 5px;
        -moz-border-radius: 0px 0px 5px 5px;
        -khtml-border-radius: 0px 0px 5px 5px;
        border-radius: 0px 0px 5px 5px;
        background: mix(@brown, #ccc, 70%);
        transition: 0.6s ease-in-out all;
    }
    #menu > ul > li:hover > div {
        display: block;
    }
    #menu > ul > li > div > ul {
        display: table-cell;
    }
    #menu > ul > li ul + ul {
        padding-left: 20px;
    }
    #menu > ul > li ul > li > a {
        text-decoration: none;
        padding: 10px 20px 10px 20px;
        color: #FFFFFF;
        font-family: 'Open Sans Condensed';
        text-transform: uppercase;
        font-size: 20px;
        width:100%;
        display: block;
        white-space: nowrap;
        transition: 0.6s ease-in-out all;
        min-width: 120px;
    }
    #menu > ul > li ul > li > a:hover {
        background: mix(@brown, #666, 70%);
    }
    #menu > ul > li > div > ul > li > a {
        color: #FFFFFF;
    }
