
    <!-- <link rel="stylesheet/less" type="text/css" href="css/root.less" />
  <script src="/src/catalog/view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
  <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" />  -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="/js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>

    <script type="text/javascript" src="/js/libs/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.slitslider.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.transit.min.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.tooltipster.min.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.nanoscroller.min.js"></script>
    <script type="text/javascript" src="/js/libs/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/slider.js"></script>

    <script src="/js/main.js"></script>

    <script type="text/javascript" src="catalog/view/javascript/common.js"></script>

    <script type="text/javascript" src="/js/skel/skel.min.js"></script>
    <script type="text/javascript" src="/js/skel/skel-layers.min.js"></script>
    <script type="text/javascript" src="/js/skel-config.js"></script>
